/* Reset & Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Ngăn không cho chọn văn bản */
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(43, 45, 66);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.red-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 110%;
}

.center-image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoes-image {
    position: absolute;
    width: 50%;
    right: 16%;
    top: 10%;
}

.watch-image {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 8%;
}

.menu-contain-left,
.menu-contain-right {
    position: absolute;
    display: inline-block;
}

.menu-contain-left {
    top: 10px;
    left: 10px;
}

.menu-contain-right {
    top: 10px;
    right: 10px;
}

.menu-btn-left,
.menu-btn-right {
    background-color: transparent;
    color: white;
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.menu-list-left,
.menu-list-right {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.menu-list-left.show,
.menu-list-right.show {
    display: block;
    opacity: 1;
    visibility: visible;
}


.menu-list-left {
    margin-left: 10px;
    padding-left: 5px;
}

.menu-list-right {
    margin-right: 10px;
    padding-right: 5px;
}

.menu-list-left li a,
.menu-list-right li a {
    text-decoration: none;
    padding: 5px;
    color: white;
}

.menu-list-left li a:hover,
.menu-list-right li a:hover {
    color: brown;
}

.social-contain {
    position: absolute; 
    bottom: 30px;
    left: 90px;
}

.social {
    display: flex;
}

.social li {
    list-style: none;
    margin-right: 15px;
}

.social li img {
    width: 20px;
    border: none;
    background: transparent;
}

.text-contain {
    position: absolute;
    bottom: 180px;
    left: 100px;
    font-size: small;
    color: white;
}

.text-contain p, h2 {
    margin-bottom: 5px;
}

.text-contain .content {
    width: 320px;
    height: 110px;
}

.text-contain button {
    background-color: rgba(226, 30, 92, 0.945);
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 30px;
}

.text-contain button p {
    font-size: 10px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.menu-btn-right p {
    text-align: right;
}

.line {
    height: 4px;
    background-color: white;
    margin: 6px 0;
    border-radius: 2px;
    text-align: right;
}

.short {
    width: 20px;
}

.long {
    width: 30px;
}